# Maven build output
target/
*.class
*.jar
*.war
*.ear

# Eclipse project files
.classpath
.project
.settings/
.factorypath

# IntelliJ IDEA project files
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code project files
.vscode/

# OS metadata & logs
.DS_Store
Thumbs.db
*.log
